<a href="/articles/new"><h3>Create New Article</h3></a>

<% articles.forEach(function (article){%>

  <div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><%= article.title %></h3>
  </div>
  <div class="panel-body">
    <p>
      <%= article.content %> --

        <%if (article.author){%>
          <a href="/<%= article.author._id %>">
        <%= article.author.firstName %> <%}%>
      </a>
      
      <a href="/articles/<%= article.id %>/edit">[ edit ]</a>
    </p>
  </div>
</div>

<%})%>
